{% extends "layout.html" %}

{% block title %}
    Playlists | Turnstrat
{% endblock %}

{% block main %}
    Playlists:
<br>
    {% for thing in stuff%}
        <div style="align-middle text-align: center; padding-left: 10%;">
                <img src="{{ thing['img'] }}" width="125px" height="125px">
                <p class="mb-0">
                    <p>
                        {{ thing['name'] }}</p>
                        <a href="{{ thing['url'] }}">Open On Spotify</a>
                    <p style="text-align:center;">
                     <img class="d-block mx-auto img-fluid ms-1" src="static/spotifylogo.png" alt="Spotify logo" width="70">
                    </p>
                </p>
            <br>
        </div>
    {% endfor %}

{% endblock %}